/* Empty. Add your own CSS if you like */

.pull-right-icon {
  float:right;
  /*font-size: large;*/
  margin-left: 10px;
}
.option-button {
  margin-right: 10px;
  /*font-size: large;*/
}
.toolbar-button {
  color: #000000;
  font-size: small !important;
}
.popover .scroll-content{
  overflow: visible !important;
}
ion-popover-view.fit {
  height: auto !important;
}

ion-popover-view.fit .ion-content {
  position: relative !important;
}

platform-android ion-popover-view.fit {
  margin-top: 10px !important;
}

.center-text {
  display:inline-block;
  width:100%;
  text-align: center;
}
