<ion-modal-view ng-controller="EditItemCtrl">
  <ion-header-bar>
    <h1 class="title">Edit</h1>

    <div class="buttons">
      <button class="button button-clear" ng-click="modal.hide()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <!-- Title -->
        <label class="item item-input">
          <span class="input-label">Title</span>
          <input type="text" ng-model="item.title" placeholder="what to promise" style="font-weight: bold">
        </label>

        <!-- Description -->
        <label class="item item-input">
          <span class="input-label">Description</span>
          <textarea elastic class="form-control" rows="2" id="textarea" name="textarea"
                    placeholder="optional" ng-model="item.description"></textarea>
        </label>

        <div class="card">
          <div class="item item-divider">
            Share:
          </div>
          <div class="item item-text-wrap" ng-repeat="email in item.recipients">
            <span class="icon ion-at"></span>
            <a href="mailto:{{email}}" target="_blank"
               style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{email}}</a>

            <button
              ng-click="onDeleteEmail(item, $index)"
              class="button-icon button-small icon pull-right-icon ion-android-close">
            </button>

          </div>
          <div class="item item-divider tabs tabs-secondary tabs-icon-left">
            <a
              class="tab-item toolbar-button"
              href=""
              ng-click="onAddContact(item)">
              <i class="icon ion-person-add"></i>
              Pick Contact
            </a>
            <a
              class="tab-item toolbar-button"
              href=""
              ng-click="onEnterEmail(item)">
              <i class="icon ion-email"></i>
              Enter Email
            </a>
          </div>
          <div class="item item-divider tabs tabs-secondary tabs-icon-left">
            <a
              class="tab-item toolbar-button"
              href=""
              ng-click="onQr(item)">
              <i class="icon ion-qr-scanner"></i>
              QR code
            </a>
            <a
              class="tab-item toolbar-button"
              href=""
              ng-click="onShare(item)">
              <i class="icon ion-android-share-alt"></i>
              Share
            </a>
          </div>
        </div>

        <div class="card">
          <div class="item item-divider">
            Links:
          </div>
          <div class="item item-text-wrap" ng-repeat="link in item.links">
            <i class="icon ion-chevron-right"></i>
            <a href="{{link.url}}" target="_blank">{{link.name ? link.name : link.url}}</a>
            <button
              ng-click="onDeleteLink(item, $index)"
              class="button-icon button-small icon pull-right-icon ion-android-close">
            </button>
          </div>
          <div class="item item-divider tabs tabs-secondary tabs-icon-left">
            <a
              class="tab-item toolbar-button"
              href=""
              ng-click="onAddLink(item)">
              <i class="icon ion-plus-round"></i>
              Add Link
            </a>
          </div>
        </div>

        <div class="item">
          <button class="button button-block button-positive" type="button" ng-click="onPublish(item)">Publish</button>
          <button class="button button-block button-assertive" type="button" ng-click="onCancel()">Cancel</button>
        </div>

      </div>
    </form>

  </ion-content>
</ion-modal-view>
