<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Oops, there's ERROR</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list card">
      <div class="item">
        <h2>{{error}}</h2>
      </div>
      <label class="item">
        <button class="button button-block button-calm" type="button" ng-click="closeModal()">OK</button>
      </label>
    </div>
  </ion-content>
</ion-modal-view>
