<ion-view view-title="{{item.title}}">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="onRefresh()">
    </ion-refresher>
    <div class="list card">
      <!--
            "id": "613687324328464384",
            "folder": "sent",
            "from": "Серг",
            "title": "Ящик пива",
            "description": null,
            "date": 1435149434767,
            "recipients": ["go@go.com"],
            "links": [],
            "new": true
      -->
      <div class="item">
        <a
          href=""
          class="tab-item toolbar-button"
          style="display: inline; float: right; vertical-align: top"
          ng-click="popover.show($event)">
          <i class="icon ion-more"></i>
        </a>
        <h4>From: {{item.from}}</h4>

        <h2><b>{{item.title}}</b></h2>
        <!--
                <span ng-show="item.new" class="pull-right-icon ion-asterisk">&nbsp;</span>
                <span ng-show="item.links" class="pull-right-icon ion-link">&nbsp;</span>
        -->
      </div>
      <div class="item item-body" style="white-space: pre-line;">
        {{item.description}}
      </div>

      <div class="card" ng-show="item.recipients && item.recipients.length > 0">
        <div class="item item-divider">
          Shared with:
        </div>
        <div class="item item-text-wrap" ng-repeat="email in item.recipients">
          <span class="icon ion-at"></span>
          <a href="mailto:{{email}}" target="_blank">{{email}}</a>
        </div>
      </div>

      <div class="card" ng-show="item.links && item.links.length > 0">
        <div class="item item-divider">
          Links:
        </div>
        <div class="item item-text-wrap" ng-repeat="link in item.links">
          <i class="icon ion-chevron-right"></i>
          <a href="{{link.url}}" target="_blank">{{link.name ? link.name : link.url}}</a>
        </div>
      </div>

      <div class="item item-divider tabs tabs-secondary tabs-icon-left">
        <a
          class="tab-item toolbar-button"
          href=""
          ng-click="onQr(item)">
          <i class="icon ion-qr-scanner"></i>
          QR code
        </a>
        <a
          class="tab-item toolbar-button"
          href=""
          ng-click="onShare(item)">
          <i class="icon ion-android-share-alt"></i>
          Share
        </a>
      </div>
    </div>
  </ion-content>

  <script id="adhoc/popover.html" type="text/ng-template">
    <ion-popover-view class="fit">
      <ion-content scroll="false">
        <div class="list">
          <a
            class="item"
            href="#"
            ng-show="showEdit"
            ng-click="onEdit(item)">
            <i class="icon ion-edit"></i>
            Edit
          </a>
          <a
            class="item"
            href="#"
            ng-show="showArchive"
            ng-click="onArchive(item)">
            <i class="icon ion-android-archive"></i>
            Archive
          </a>
          <a
            class="item"
            href="#"
            ng-show="showRestore"
            ng-click="onRestore(item)">
            <i class="icon ion-android-share"></i>
            Restore
          </a>
          <a
            class="item"
            href="#"
            ng-show="showTrash"
            ng-click="onTrash(item)">
            <i class="icon ion-trash-b"></i>
            Trash
          </a>
          <a
            class="item"
            href="#"
            ng-show="showDelete"
            ng-click="onDelete(item)">
            <i class="icon ion-close-circled"></i>
            Delete
          </a>
        </div>
      </ion-content>
    </ion-popover-view>
  </script>

</ion-view>
