<ion-view view-title="{{folder | capitalize}}">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="onRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item collection-repeat="item in itemList"
                href="#/app/items/{{item.id}}">
        <span>{{item.title}}</span>
<!--
        <span ng-show="item.new" class="pull-right-icon ion-asterisk">&nbsp;</span>
        <span ng-show="item.links" class="pull-right-icon ion-link">&nbsp;</span>
-->
        <ion-option-button
          ng-show="showArchive"
          ng-click="onArchive(item)"
          class="button-stable option-button">
          <span class="ion-android-archive">&nbsp;</span>
          Archive
        </ion-option-button>
        <ion-option-button
          ng-show="showRestore"
          ng-click="onRestore(item)"
          class="button-stable option-button">
          <span class="ion-android-share">&nbsp;</span>
          Restore
        </ion-option-button>
        <ion-option-button
          ng-show="showTrash"
          ng-click="onTrash(item)"
          class="button-stable option-button">
          <span class="ion-trash-b">&nbsp;</span>
          Trash
        </ion-option-button>
        <ion-option-button
          ng-show="showDelete"
          ng-click="onDelete(item)"
          class="button-stable option-button">
          <span class="ion-close-circled">&nbsp;</span>
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
