<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{title}}</h1>
  </ion-header-bar>
  <ion-content ng-show="showLogin">
    <div style="margin-left: 10px; margin-right:10px;">
    <button class="button button-block button-outline button-positive"
            ng-click="switchToRegister()">
      Need to Register?
    </button>
    </div>
    <div class="card">
        <div class="item">
          <span class="center-text">Log in with</span>
          <div class="button-bar">
            <button class="button button-block button-royal" type="button"
                    style="margin-right: 5px;"
                    ng-click="onSocialLogin('facebook')">Facebook
            </button>
            <a class="button button-block button-assertive" type="button"
                    style="margin-left: 5px;"
                    ng-click="onSocialLogin('google')">Google
            </a>
          </div>
        </div>
    </div>
    <span class="center-text" style="font-size: larger">Or email</span>
    <div class="card">
      <form>
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="text" ng-model="loginData.username">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="loginData.password">
          </label>
          <label class="item">
            <button class="button button-block button-positive" type="button"
                    ng-click="onLogin(loginData.username, loginData.password)">Log in
            </button>
          </label>
        </div>
      </form>
    </div>
  </ion-content>
  <ion-content ng-show="showRegister">
    <div style="margin-left: 10px; margin-right:10px;">
    <button class="button button-block button-outline button-positive"
            ng-click="switchToLogin()">
      Already registered?
    </button>
    </div>
    <div class="card">
        <div class="item">
          <span class="center-text">Register with</span>
          <div class="button-bar">
            <button class="button button-block button-royal" type="button"
                    style="margin-right: 5px;"
                    ng-click="onSocialLogin('facebook')">Facebook
            </button>
            <a class="button button-block button-assertive" type="button"
                    style="margin-left: 5px;"
                    ng-click="onSocialLogin('google')">Google
            </a>
          </div>
        </div>
    </div>
    <span class="center-text" style="font-size: larger">Or with email</span>
    <div class="card">
      <form>
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Name</span>
            <input type="text" ng-model="loginData.name">
          </label>
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="text" ng-model="loginData.username">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="loginData.password">
          </label>
          <label class="item item-input">
            <span class="input-label">Confirm password</span>
            <input type="password" ng-model="loginData.confirm">
          </label>
          <label class="item">
            <button class="button button-block button-positive" type="button"
                    ng-click="onRegister(loginData.name, loginData.username, loginData.password, loginData.confirm)">Register
            </button>
          </label>
        </div>
      </form>
    </div>
  </ion-content>
</ion-modal-view>
