<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button
          class="button button-icon ion-ios-compose"
          ng-click="onCreate()">
        </button>
<!--
        <button
          class="button button-icon ion-more"
          ng-click="popover.show($event)">
        </button>
-->
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/list/{{folder.name}}" ng-repeat="folder in folders">
          {{folder.name | capitalize}} <span class="badge badge-calm" ng-show="folder.total > 0">{{folder.total}}</span>
        </ion-item>
        <ion-item menu-close ng-click="doLogout()">
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>
