<ion-modal-view style="z-index: 30;">
  <ion-header-bar>
    <h1 class="title">QR code</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="modal.hide()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>

    <div class="card">
      <div class="item item-text-wrap">
        <qr text="item.url"></qr>
      </div>
    </div>

  </ion-content>
</ion-modal-view>
